/*
font-family: 'Roboto', sans-serif;

font-family: 'Roboto Mono', monospace;

font-family: 'Roboto Slab', serif;
*/
html {
    background-color: #051107;
    font-family: 'Roboto slab','Open Sans', 'Helvetica Neue', sans-serif;
}

.body1 {
    background: rgb(0,57,34);
    background: linear-gradient(90deg, rgba(0,57,34,1) 0%, rgba(1,25,11,1) 35%, rgba(1,25,11,1) 65%, rgba(0,57,34,1) 100%);  
}

header {
    background-color: #051107;
}

main {
    min-height: 800px;
}

p {
    font-size: 18px;
    color: blanchedalmond;
}

h2 {
    color: blanchedalmond;
}

a {
    text-decoration: none;
}


ul li a:link {
    color: #4e5551;
  }
  

ul li a:visited {
    color: #4e5551;
  }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 38px;
    padding-right: 50px;
    width: 100%;
    display: flex;
    color: #789182;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.flexbox {
    margin: 60px auto 80px auto;
    background-color: transparent;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hidemobile {
    display: block;
}

@media screen and (max-width: 960px) {
    .flex-wrapper {
        transform: unset;
    }

    .hidemobile {
        display: none;
    }
}


.logo {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 63px;
    color: #bcfda8;
}

.bokcover {
    margin: 0px 40px 0px;
    width: 300px;
    box-shadow: 0px 0px 35px rgba(31, 156, 0, 0.5);
}

.price {
    font-size: 50px;
    font-weight: 350;
    margin: 20px 0px 20px 0px;
}

.button {
    background: linear-gradient(268.01deg, #5BB373 -7.01%, #2F633D 109.77%), #46945B;
    border-radius: 31px;
    width: 240px;
    padding: 5px;
    
}

.buttontext {
    font-style: normal;
    font-weight: 500;
    font-size: 22.5px;
    line-height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: blanchedalmond;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textbox {
    min-width: 450px;
    margin-top: 80px;
    padding: 70px 16% 60px;
    background-color: #1a1a1a;
}

.footerspace {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #051107;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.flex-wrapperfoot {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
   }

.footer {
    flex-basis: 50%;
}

.read {
    background-color: #ac9e9a;
}

.paper {
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    color: #201b17;
}

.darktext {
    color: #201b17;
    min-width: 450px;
    margin-top: 20px;
    padding-left: 16%;
    padding-right: 16%;
}

@media screen and (max-width: 560px) {

    .flex-wrapper {
        transform: translateY(0px);

    }

   
}

